.button {
  padding: 11px 20px;
  border-radius: 14px;
  background-color: var(--secondary-color);
}

.miniature {
  display: block;
  object-fit: cover;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid var(--mini-color);
}

.background_element {
  height: 600px;
  position: relative;
}

.reeding {
  background: url(../img/reeding.jpg) center / cover no-repeat;
}

.staircase {
  background: url(../img/staircase.jpg) center / cover no-repeat;
}

.swirling {
  background: url(../img/staircase2.jpg) center / cover no-repeat;
}

.bg_text_block {
  width: 300px;
  position: absolute;
  right: 4%;
  padding-top: 266px;
}

.bg_left {
  left: 4%;
}
