.p1 {
  font-size: 16px;
  line-height: 24px;
}

.p2 {
  font-size: 14px;
  line-height: 20px;
}

.p3 {
  font-size: 15px;
  line-height: 24px;
}

.p4 {
  font-size: 17px;
  line-height: 26px;
}

.p5 {
  font-size: 14px;
  line-height: 14px;
}

.p6 {
  font-size: 18px;
  line-height: 26px;
}

.p7 {
  font-size: 24px;
  line-height: 30px;
}

.p8 {
  font-size: 23px;
  line-height: 30px;
}
/*------------------*/
.h1 {
  font-size: 32px;
  line-height: 38px;
}

.h2 {
  font-size: 39px;
  line-height: 42px;
}

.h3 {
  font-size: 64px;
  line-height: 70px;
}

.h4 {
  font-size: 40px;
  line-height: 42px;
}
