body {
  font-family: 'Poppins';
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.header {
  height: 90px;
}

.header_body {
  max-width: 83%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 220px;
  margin-left: 32px;
}

.header_logo img {
  width: 100%;
  height: 100%;
}

.header_menu {
  width: 585px;
  height: 50px;
  margin-right: 20px;
}

.header_menu_buttons {
  width: 585px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.header_menu_buttons > a {
  display: block;
  background-color: white;
  color: #1b1a1a;
}

.header_menu_chadbutton {
  width: 155px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1a1a;
  border-radius: 14px;
  color: #ffffff;
}

.header_menu_chadbutton a {
  background-color: #1b1a1a;
  border-radius: 14px;
  color: #ffffff;
}

.home {
  background-color: #ece7e4;
  height: 720px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_content {
  max-width: 600px;
  height: 566px;
  margin-left: 60px;
}

.home_header {
  margin: 60px 0 0 40px;
  max-width: 190px;
  color: #645c55;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home_title {
  margin: 20px 0 0 40px;
  max-width: 417px;
  color: #1b1a1a;
}

.home_text {
  margin: 20px 0 0 40px;
  color: #403e3b;
  max-width: 509px;
}

.home_button {
  width: 133px;
  height: 46px;
  margin: 30px 0 0 45px;
  text-align: center;
}

.home_button button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ece7e4;
}

.home_picture {
  width: 50%;
  height: 100%;
}

.home_picture img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.firm {
  margin-top: 100px;
}

.firm_body {
  margin: 0 auto;
  width: 768px;
  height: 582px;
  position: relative;
}

.firm_title {
  color: #403e3b;
  max-width: 134px;
}

.firm_content {
  width: 500px;
  height: 582px;
  position: absolute;
  right: 0;
  top: 0;
}

.firm_text {
  color: #403e3b;
  margin-right: 8px;
}

.firm_text p:nth-child(2) {
  margin: 10px 0 10px 0;
}

.firm_stephen {
  position: relative;
  height: 100px;
  padding: 30px 0 44px 100px;
}

.firm_stephen::before {
  content: '';
  display: block;
  width: 84px;
  height: 84px;
  background: url('../img/guy.jpg') 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #cec4bc;
  position: absolute;
  top: 8px;
  left: 0;
}

.firm_stephen_job {
  color: #645c55;
}

.reeding {
  margin-top: 100px;
}

.reeding_body {
  position: relative;
  max-width: 100%;
  height: 600px;
  overflow: hidden;
}

.reeding_image {
  width: 100%;
  height: 100%;
}

.reeding_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reeding_text_block {
  width: 300px;
  height: 600px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 4%;
}

.reeding_title {
  color: #403e3b;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 266px;
}

.reeding_text {
  color: #645c55;
  margin-right: 15px;
}

.process {
  margin: 100px 0 0 0;
}

.process_body {
  max-width: 100%;
  height: 381px;
  margin: 0% auto;
  text-align: center;
}

.process_header {
  width: 600px;
  height: 82px;
  margin: 0 auto;
}

.process_title {
  color: #645c55;
  text-transform: uppercase;
}

.process_how {
  color: #1b1a1a;
  margin: 13px 0 0 0;
}

.process_row {
  max-width: 1200px;
  max-height: 259px;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.process_column {
  max-width: 378px;
}

.item_process__icon {
  max-width: 117px;
  max-height: 102px;
  margin: 0 auto;
}

.item_process__title {
  margin: 15px 0 0 0;
}

.item_process__text {
  color: #645c55;
  max-width: 292px;
  margin: 10px 43px 34px 43px;
  max-height: 92px;
}

.staircase {
  margin-top: 100px;
}

.staircase_body {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.staircase_image {
  width: 100%;
  height: 100%;
}

.staircase_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.staircase_text_block {
  width: 300px;
  height: 600px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 4%;
}

.staircase_title {
  color: #403e3b;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 266px;
}

.staircase_text {
  color: #645c55;
  margin-right: 15px;
}
.customers {
  background-color: #403e3b;
}

.customers_body {
  max-width: 1168px;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers_content {
  width: 460px;
  height: 160px;
}

.customers_content_header {
  color: #ece7e4;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
}

.customers_content_title {
  color: #ffffff;
}

.customers_content_text {
  width: 451px;
  color: #ece7e4;
  margin-top: 14px;
}

.customers_logos {
  width: 432px;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
}

.customers_logo {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers_logo img {
  width: 128px;
}

.swirling_body {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.swirling_image {
  width: 100%;
  height: 100%;
}

.swirling_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swirling_text_block {
  width: 300px;
  height: 600px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 4%;
}

.swirling_title {
  color: #403e3b;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 266px;
}

.swirling_text {
  color: #645c55;
  margin-right: 15px;
}

.projects {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.projects_body {
  max-width: 1200px;
  height: 698px;
  margin: 0 auto;
}

.projects_header {
  padding-left: 16px;
  width: 600px;
  height: 112px;
}

.projects_header_title {
  color: #1b1a1a;
}

.projects_header_text {
  margin-top: 15px;
  color: #645c55;
}

.projects_row {
  margin: 40px auto 0 auto;
  max-width: 1168px;
  max-height: 460px;
  display: flex;
  gap: 16px;
}

.projects_column {
  height: 460px;
}

.projects_column img {
  display: block;
  width: 100%;
  height: 456px;
  object-fit: cover;
}

.projects_column_image {
  position: relative;
}

.projects_column_header {
  width: 207px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 41px;
  left: 40px;
}

.projects_column_header_title {
  text-transform: uppercase;
  color: #645c55;
  letter-spacing: 2px;
}

.projects_column_header_text {
  color: #403e3b;
}

.projects_column_button {
  width: 133px;
  height: 46px;
  position: absolute;
  z-index: 1;
  left: 45px;
  bottom: 40px;
}

.projects_column_button button {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #1b1a1a;
  border-radius: 15px;
}

.projects_footer {
  letter-spacing: 0.4px;
  width: 180px;
  height: 46px;
  margin: 51px auto 0 auto;
}

.team {
  margin: 100px 0 100px 0;
}

.team_body {
  max-width: 1168px;
  height: 392px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.team_content {
  width: 379px;
  height: 392px;
}

.team_title {
  width: 240px;
  color: #403e3b;
}

.team_text {
  width: 358px;
  margin-top: 14px;
  color: #645c55;
}

.team_see {
  margin: 30px 0 0 5px;
  width: 121px;
  height: 46px;
  letter-spacing: 0.4px;
}

.team_see button {
  width: 100%;
  height: 100%;
  background-color: white;
}

.team_people {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 115px;
  width: 773px;
  height: 392px;
}

.team_people_item {
  height: 100px;
  width: 280px;
  display: flex;
}

.team_people_photo {
  overflow: hidden;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid #cec4bc;
}

.team_people_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.team_people_info {
  width: 196px;
  padding: 22px 0 0 30px;
}

.team_people_name {
  color: #1b1a1a;
}

.team_people_job {
  color: #645c55;
}

.touch {
  background-color: #cec4bc;
  height: 314px;
}

.touch_body {
  max-width: 1168px;
  height: 114px;
  margin: auto auto;
  padding-top: 100px;
  position: relative;
}

.touch_content {
  width: 576px;
  height: 114px;
}

.touch_contend_header {
  color: #645c55;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.touch_content_text {
  color: #1b1a1a;
}

.touch_button {
  width: 145px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 134px;
}

.touch_button button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #cec4bc;
  color: #1b1a1a;
}

.footer {
  display: flex;
  height: 204px;
  align-items: center;
}

.footer_body {
  margin: 0 auto;
  width: 1168px;
  height: 84px;
  position: relative;
}

.footer_title img {
  width: 256px;
  height: 22px;
}

.footer_text {
  margin-top: 20px;
  color: #645c55;
  width: 695px;
  height: 40px;
}

.footer_icons {
  width: 112px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 0;
}
