.container {
  max-width: 100%;
}

.header {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 220px;
  margin-left: 12px;
}

.header_menu {
  width: 585px;
  height: 50px;
}

.header_menu_links {
  width: 585px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.header_menu_links > a {
  display: block;
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_content {
  min-width: 0;
  padding: 40px 0 0 100px;
  max-width: 600px;
  height: 566px;
}

.home_content > *:not(.home_button) {
  margin-top: 20px;
}

.home_text {
  max-width: 509px;
}

.home_button {
  width: 133px;
  height: 46px;
  margin: 30px 0 0 45px;
}

.home_button button {
  display: block;
  width: 100%;
  height: 100%;
}

.home img {
  object-fit: cover;
  width: 50%;
  height: 720px;
}

.firm {
  padding: 100px 0;
  margin: 0 auto;
  width: 768px;
  display: flex;
  justify-content: space-between;
}

.firm_content {
  padding-right: 8px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.process {
  padding: 100px 0;
  text-align: center;
}

.process_how {
  margin-top: 13px;
}

.process_row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.process_column {
  max-width: 378px;
}

.item_process__icon {
  max-width: 117px;
  max-height: 102px;
  margin: 0 auto;
}

.item_process__title {
  margin: 15px 0 0 0;
}

.item_process__text {
  max-width: 292px;
  margin-top: 10px;
}

.customers_body {
  max-width: 1168px;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers_content {
  width: 460px;
  height: 160px;
}

.customers_content_header {
  margin-top: 10px;
}

.customers_content_text {
  width: 451px;
  margin-top: 14px;
}

.customers_logos {
  width: 432px;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
}

.customers_logo {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers_logo img {
  width: 128px;
}

.projects_body {
  padding: 120px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.projects_header {
  padding-left: 16px;
  width: 600px;
}

.projects_header_text {
  margin-top: 15px;
}

.projects_row {
  margin: 40px auto 0 auto;
  max-width: 1168px;
  display: flex;
  gap: 16px;
}

.projects_column {
  height: 460px;
}

.projects_column img {
  display: block;
  width: 100%;
  height: 456px;
  object-fit: cover;
}

.projects_column_image {
  position: relative;
}

.projects_column_header {
  width: 207px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 41px;
  left: 40px;
}

.projects_column_button {
  position: absolute;
  z-index: 1;
  left: 45px;
  bottom: 40px;
}

.projects_footer {
  letter-spacing: 0.4px;
  text-align: center;
  margin-top: 51px;
}

.team {
  padding: 100px 15px;
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.team_text {
  width: 358px;
  margin-top: 14px;
}

.team_see {
  margin: 30px 0 0 5px;
  width: 121px;
  height: 46px;
}

.team_see button {
  width: 100%;
  height: 100%;
}

.team_people {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 115px;
}

.team_people_item {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.team_people_info {
  width: 196px;
}

.touch_body {
  max-width: 1168px;
  margin: 0 auto;
  padding: 100px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.touch_content {
  max-width: 576px;
}

.footer {
  padding: 60px 15px;
  margin: 0 auto;
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer_title img {
  width: 256px;
}

.footer_text {
  margin-top: 20px;
}

.footer_icons {
  height: 25px;
  display: flex;
  gap: 20px;
}
